div {
    background:blue;
    width: 300px;
    height: 300px;
    transition: 5s;
    color: gray;
}

div:hover {
    background: pink;
    transition: 3s;
}
p:hover .a {
    font-size: 7rem;
    color: violet;
    transition: 3s;
}
p:hover .h {
    font-size: 20rem;
    color: red;
    transition: 3s;
}
p:hover .o {
    font-size: 30rem;
    color: gray;
    transition: 10s;
}
p:hover .l {
    font-size: 3rem;
    color: green;
    transition: 20s;
    
}
p{
    transition: 4s;
}

