p{
      font-size: 4rem;
      text-shadow: 40px 40px 3px red, -40px -40px 3px blue,80px -40px 3px pink, -80px 40px 3px violet;
      transition: 3s;
      padding-left: 20%;
}
p:hover{
      font-size: 6rem;
      text-shadow:-40px -40px 3px red, 40px 40px 3px blue,-80px 40px 3px pink, 80px -40px 3px violet;
      transition: 4s;
}